@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display+SC:700i&display=swap');
html {
    scroll-behavior: smooth;
}

body{
    margin: 0px; 
    background-color: black;
}
#content{
    display: flex;
    justify-content: center;
    background-color: black;
    transition: 1s all;
    scroll-behavior:smooth;
}
.navBar{
    width:100vw;
    margin-top: 3vh;
    display: flex;
    z-index: 3;
    position: fixed;
    top: 0;
    /* background-color: aqua; */
    justify-content:flex-end;
}
.navLink{
    margin-right: 2%;
    font-size: 3vh;
    color:white;
    text-decoration: none;
    font-family: 'Playfair Display SC';
    font-style: italic;
}
.navLink:hover{
    text-decoration:line-through; 
}
.activePage{
    text-decoration:underline;
}
.heroBox{
    width: 1500px;
    height: 100vh;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    overflow: scroll;
   
}
.heroTitle{
    color:white;
    font-family: 'Playfair Display SC';
    font-style: italic;
    font-size: 12vw;
    text-align: right;
    

}
h3{
    margin-top: 0%;
    font-size: 4vh;
}

.menu{
    height: 85vh;
    width: 0vw;
    background-color: white;
    z-index:0;
    margin-top:10vh;
    transition: 1s all;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#boxTrig{
    color: white;
    text-decoration: none;
    font-size: 12vw;
}
#btnHolder{
    margin-top: 5%;
    z-index: 7;
   display: flex;
   width: 85vw;
   justify-content: flex-end;
   align-items: center;
   
}
#close{
    margin-right: 2%;
    margin-bottom: 2%;
}
#winterMenu{

    width: 80vw;
}
#boxTrig:hover{
    text-decoration: underline;
}
