@import url('https://fonts.googleapis.com/css?family=Chivo:300,700|Playfair+Display+SC:700i&display=swap');

body{
 display: flex;
 justify-content: center;
 background-color: black;
 
}
.navBar{
    width:100vw;
    margin-top: 3vh;
    display: flex;
    /* background-color: aqua; */
    justify-content:flex-end;
}
a{
    margin-right: 2%;
    font-size: 3vh;
    color:white;
    text-decoration: none;
    font-family: 'Playfair Display SC';
    font-style: italic;
}
a:hover{
    text-decoration:line-through; 
}
a:active{
    text-decoration:underline;
}